:root{
--menh: 50px; /*Starthoyde paa menyen*/
}

.topnav {
    height: var(--menh);
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 80px;
    padding-top: 10px;
    background-color: #668cff;
    overflow: hidden;
    transition: 0.5s;
}
.topnav a,span {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 23px;
    color: black;
    transition: 0.3s;
    cursor: pointer;
}
.topnav a{
display: block;
}
.topnav a:hover {
    color: #f1f1f1;
}
.topnav span:hover {
    color: #f1f1f1;
}

.main {
    height: 700px;
    overflow-y: hidden;
    font-size: 16px;    
    transition: margin-top .5s;
    padding: 16px;
    padding-right: 16px;
    margin-top: calc(var(--menh));
    font-family: "Lato", sans-serif; 
    background-color: rgb(251, 251, 233);
}
